{{> nav/homenav}}
<div class="container" id="wrapper">
    <div class="row heading">
        <div class="col">
            <div class="jumbotron text-center">
                <div class="overlay">
                    <div>
                        <div class="background-image"></div>
                        <div class="caption">
                            <h1> Mongo Scraper</h1>
                            <p> New York Times Edition</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> {{!end of col}}
    </div> {{!end of heading row}}
    <div class="row results">
        <div class="col" id="scrapedarticles">
            <div class="container-fluid article-container">
                {{#each Headline}}
                <div class="media articles" >
                    {{!-- <img class="mr-3" src="..." alt="Generic placeholder image"> --}}
                    <div class="media-body">
                        <p class="mt-0">{{this.title}}</p>
                        <p><a href="{{this.link}}">Read Article</a></p>
                        <button class="btn btn-outline-success my-2 my-sm-0 leave-note" type="submit" data-id="{{this._id}}" >Leave a
                            note</button>
                    </div>
                    <div id="notes">
                    </div>
                </div>
                {{/each}}
            </div>
        </div>{{!end of col}}
    </div> {{!end of articles row}}
</div>{{!end of wrapper}}
{{> footer/footer}}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="/assets/javascript/index.js"></script>