<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://github.com/pmutunga/PaskwaNewsScraper"> New York Times Mongo Scraper</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->